<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>

<div class="modal-body">
  <mdb-form-control class="mb-3">
    <input
      mdbInput
      type="text"
      id="userName"
      class="form-control form-control-lg"
      [(ngModel)]="registerUser.userName"
      required
    />
    <label mdbLabel class="form-label" for="userName">UserName</label>
  </mdb-form-control>
  <mdb-form-control class="mb-3">
    <input
      mdbInput
      type="password"
      id="password"
      class="form-control form-control-lg"
      [(ngModel)]="registerUser.password"
      required
    />
    <label mdbLabel class="form-label" for="password">Password</label>
  </mdb-form-control>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-dark"
    [disabled]="registerUser.userName == '' || registerUser.password == ''"
    (click)="register()"
  >
    Register
  </button>
</div>
