<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <mdb-form-control class="mb-3">
          <input
            mdbInput
            type="text"
            id="title"
            class="form-control form-control-lg"
            [(ngModel)]="newTask.title"
            required
            maxlength="250"
          />
          <label mdbLabel class="form-label" for="title"
            >Title (Required)</label
          >
        </mdb-form-control>

        <mdb-form-control class="mb-3">
          <input
            mdbInput
            type="text"
            id="category"
            class="form-control form-control-lg"
            [(ngModel)]="newTask.category"
            required
            maxlength="2000"
          />
          <label mdbLabel class="form-label" for="category"
            >Category (Required)</label
          >
        </mdb-form-control>

        <mdb-form-control class="mb-3">
          <textarea
            mdbInput
            type="text"
            id="description"
            class="form-control form-control-lg"
            style="resize: none"
            [(ngModel)]="newTask.description"
            rows="10"
            maxlength="2000"
          ></textarea>
          <label mdbLabel class="form-label" for="description"
            >Description</label
          >
        </mdb-form-control>
      </div>

      <div class="col-4">
        <div class="mb-3">
          <label class="form-label" for="date">Due Date</label>
          <ngb-datepicker
            [(ngModel)]="ngbDateStruct"
            id="date"
            name="date"
          ></ngb-datepicker>
        </div>
        <div class="mb-3">
          <label class="form-label" for="time">Due Time</label>
          <div class="d-flex justify-content-center">
            <ngb-timepicker
              [(ngModel)]="ngbTimeStruct"
              id="time"
              name="time"
            ></ngb-timepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-success btn-lg"
    (click)="addTaskAction()"
    [disabled]="newTask.title == '' || newTask.category == ''"
  >
    Confirm
  </button>
</div>
